@import url(./fonts.css);
/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: 14px;
  line-height: 22.4px;
  color: #6c7279; }

h1 {
  font-size: 65px;
  color: #2d3033; }

h2 {
  font-size: 40px;
  color: #2d3033; }

h3 {
  font-size: 28px;
  color: #2d3033;
  font-weight: 300; }

h4 {
  font-size: 22px;
  color: #2d3033;
  font-weight: 400; }

h5 {
  font-size: 14px;
  color: #2d3033;
  text-transform: uppercase;
  font-weight: 700; }

.btn {
  background-color: #6644A3;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase; }
  .btn:hover, .btn:focus {
    background-color: #5b3c91;
    color: #fff; }
  .btn-large {
    padding: 15px 40px; }

/* ==========================================================================
	General Styles
========================================================================== */
a {
  color: #6644A3; }

a:hover, a:focus {
  text-decoration: none;
  -moz-transition: background-color, color, 0.3s;
  -o-transition: background-color, color, 0.3s;
  -webkit-transition: background-color, color, 0.3s;
  transition: background-color, color, 0.3s; }

body {
  font-family: Nanum Barun Gothic, sans-serif;
  font-weight: 300;
  color: #6c7279; }

ul, ol {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

.section {
  padding: 100px 0; }

.no-padding {
  padding: 0; }

.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

body {
  font-family: Nanum Barun Gothic, sans-serif; }

.s0 {
  font-size: 80px;
  opacity: 1;
  font-weight: 500;
  letter-spacing: -3.65px;
  font-family: Noto Sans KR, serif; }

.s01 {
  font-size: 60px;
  opacity: 1;
  font-weight: normal;
  letter-spacing: -5px;
  font-family: Noto Sans KR; margin-top:-20px;}


.s1 {
  font-size: 70px;
  letter-spacing: -1px; }

.s1_1 {
  font-size: 70px;
  letter-spacing: -1px;
  margin-top: 149px}

.s2 {
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 110%; }

.s3 {
  font-size: 36px;
  letter-spacing: -1px; }

.s4 {
  font-size: 22px;
  letter-spacing: -1px; }

.s4_2 {
  font-size: 22px;
  letter-spacing: -1px;
  margin-top:51px}

.s4_3 {
  font-size: 22px;
  letter-spacing: -1px; }

.s4_4 {
  font-size: 22px;
  letter-spacing: -1px;
  magin:auto 0;
  padding :20px 10px 0 40px; }

.s4_5 {
  font-size: 22px;
  letter-spacing: -1px;
  margin-top:28px;}

.s5 {
  margin: 30px 0 20px 0;
  font-size: 20px;}

.nago-bold {
  font-family: Nanum Barun Gothic, sans-serif;
  font-weight: bold; }

.purple {
  color: #A274FF; }

.purpl01 {
  color: #261600; }

.brown {
  font-family: Nanum Barun Gothic, sans-serif;
  font-weight: bold;
  color: #56342C; }

.brown01 {
  color: #58362C; }

.white {
  color: #fff; }

.white01 {
  color: #F0F0F0; }

.black {
  color: #000; }

.black01 {
  color: #3E3E46; }

/* ==========================================================================
	$Header
========================================================================== */
#header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: rgba(35, 32, 41, 0.16);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  #header .header-content {
    margin: 0 auto;
    max-width: 1170px;
    padding: 13px 0;
    width: 95%;
    -moz-transition: padding 0.3s;
    -o-transition: padding 0.3s;
    -webkit-transition: padding 0.3s;
    transition: padding 0.3s; }
  #header .logo {
    float: left;
    width: 182px; }

#header.fixed {
  background-color: #302624; }
  #header.fixed .header-content {
    border-bottom: 0;
    padding: 10px 0; }
  #header.fixed .nav-toggle {
    top: 18px; }

.navigation.open {
  opacity: 0.9;
  visibility: visible;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.navigation {
  float: right;
  margin-top: 1em; }
  .navigation li {
    display: inline-block; }
  .navigation a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    margin-left: 40px; }
    .navigation a:hover, .navigation a.active {
      color: #fff; }

.nav-toggle {
  display: none;
  height: 44px;
  overflow: hidden;
  position: fixed;
  right: 5%;
  text-indent: 100%;
  top: 32px;
  white-space: nowrap;
  width: 44px;
  z-index: 99999;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .nav-toggle:before, .nav-toggle:after {
    border-radius: 50%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform; }
  .nav-toggle:before {
    background-color: #6644A3;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .nav-toggle:after {
    background-color: #6644A3;
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    -moz-transition-duration: 0s;
    -o-transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s; }
  .nav-toggle span {
    background-color: #fff;
    bottom: auto;
    display: inline-block;
    height: 3px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    width: 18px;
    z-index: 10;
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .nav-toggle span:before, .nav-toggle span:after {
      background-color: #fff;
      content: "";
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-transition: -moz-transform 0.3s;
      -o-transition: -o-transform 0.3s;
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s; }
    .nav-toggle span:before {
      -moz-transform: translateY(-6px) rotate(0deg);
      -ms-transform: translateY(-6px) rotate(0deg);
      -webkit-transform: translateY(-6px) rotate(0deg);
      transform: translateY(-6px) rotate(0deg); }
    .nav-toggle span:after {
      -moz-transform: translateY(6px) rotate(0deg);
      -ms-transform: translateY(6px) rotate(0deg);
      -webkit-transform: translateY(6px) rotate(0deg);
      transform: translateY(6px) rotate(0deg); }
  .nav-toggle.close-nav:before {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0); }
  .nav-toggle.close-nav:after {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }
  .nav-toggle.close-nav span {
    background-color: rgba(255, 255, 255, 0); }
    .nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
      background-color: #fff; }
    .nav-toggle.close-nav span:before {
      -moz-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
      -webkit-transform: translateY(0) rotate(45deg);
      transform: translateY(0) rotate(45deg); }
    .nav-toggle.close-nav span:after {
      -moz-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
      -webkit-transform: translateY(0) rotate(-45deg);
      transform: translateY(0) rotate(-45deg); }

/* ==========================================================================
	$Banner
========================================================================== */
.banner {
  background-image: url(../images/main_visual.png);
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 805px; }

.banner-text {
  padding-top: 25%; }
  .banner-text h1 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase; }
  .banner-text p {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 80px; }

/* ==========================================================================
	$Vanilla Topic
========================================================================== */
.topic {
  background-image: url(../images/bg01.png);
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 507px;
  color: #fff; }
  .topic .container {
    padding-top: 80px; }

.wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  position: relative;
  min-height: 100%;
  padding: 7em 2em 2em 2em;
  z-index: 2; }

.vanilla {
  position: relative;
  max-width: 100%;
  padding: 4.5em 4em 4em 4.5em;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.54);
  color: #fff;
  text-align: center;
  margin-top: 50px;}

.playstore, .playstore-topic {
  position: relative;
  width: 270px;
  height: 70px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: rgba(255, 255, 255, 0.11);
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding-left: 23px;
  display: flex; }
  .playstore img, .playstore-topic img {
    width: 26px;
    height: 27px;
    margin-top: auto;
    margin-bottom: auto; }
  .playstore div, .playstore-topic div {
    margin-top: auto;
    margin-bottom: auto;
    line-height: 70px;
    vertical-align: middle; }

.playstore-topic {
  margin-top: 49px;
  margin-left: 0;
  margin-right: 0; }

/* ==========================================================================
	#bg
========================================================================== */
.bg_pattern, .bg_yellow, .bg_white, .bg_black {
  min-height: 900px;
  padding-top: 110px;
  padding-bottom: 130px;
  position: relative; }

.bg_yellow {
  background-image: url(../images/bg01_pattern.png);
  background-repeat: repeat; }

.bg_white {
  background-image: url(../images/bg02_pattern.png);
  background-repeat: repeat; }

.bg_black {
  background-image: url(../images/bg03_pattern.png);
  background-repeat: repeat; }

.bg_about {
  padding-top: 63px;
  padding-bottom: 199px;
  min-height: 900px;
  background-image: url(../images/bg04_pattern.png);
  background-repeat: repeat;
  position: relative; }

/* ==========================================================================
	#Contact
========================================================================== */
.contact {
  text-align: left; }
  .contact-top {
    min-height: 275px;
    padding-top: 108px;
    background-image: url(../images/bg05_pattern.png);
    background-repeat: repeat; }
  .contact-bottom {
    position: relative;
    background-image: url(../images/bg05_pattern.png);
    background-repeat: repeat;
    padding-top: 50px;
    min-height: 245px; }
  .contact .footer-col {
    margin-bottom: 80px; }
  .contact h5 {
    color: #fff; }
  .contact h5 {
    margin-bottom: 20px; }
  .contact p {
    color: rgba(255, 255, 255, 0.5); }
  .contact a {
    color: #fff; }
    .contact a:hover {
      color: #6644A3; }
  .contact .fa-heart {
    color: #6644A3;
    font-size: 11px;
    margin: 0 2px; }

/* ==========================================================================
	$Utilities
========================================================================== */
.next {
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 184px;
  height: 93px;
  margin-left: -92px;
  z-index: 102; }

.image-center {
  position: absolute;
  left: 50%;
  margin-left: -140px;
  z-index: 102; }

.hbox-topic {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }
  .hbox-topic .box_text {
    margin-top: auto;
    margin-bottom: 0;
    height: 100%; }
  .hbox-topic img {
    margin-left: 20px; }

.hbox {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }

.container {
  padding-left: 0;
  padding-right: 0; }

@media (min-width: 1600px) {
  .container {
    width: 1260px; } }
.layout_center {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.device {
  position: relative;
  width: 282px;
  height: 563px;
  background: url(../images/img_hp01_white.png) no-repeat 0 0;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.content {
  overflow: hidden;
  position: absolute;
  top: 51px;
  left: 18px;
  width: 246px;
  height: 442px;
  background-color: black; }

.vanilla-view {
  position: absolute;
  bottom: 170px;
  left: 123px;
  margin-left: -90px;
  background: url(../images/btn_vt_view.png) no-repeat 0 0;
  z-index: 10;
  width: 181px;
  height: 55px; }

.topic-padding-left {
  padding-left: 50px; }

.contact-cont-text {
  margin-left: 60px; }

.logo-small {
  margin-right: auto; }

.box-scroll {
  position: absolute;
  height: 931px; }
