@CHARSET "UTF-8";
/*
 *************************************************************************
 * @source  : $Id: vanilla.css,v 1.0 2015. 03. 27. seeds.master Exp $
 * @desc    : Vanilla Brain CSS 
 * @issueID :  
 *************************************************************************
 */

body {margin:0; padding:0; font-family: Dotum, DotumChe, Verdana, Geneva, Arial, Helvetica, crns-serif; font-size: 12px;}
BODY, DIV, P, H1, H2, H3, h4, h5, h6, UL, OL, li, dl, dt, dd, SPAN, A, TABLE, TD, FORM, IMG, LI, BUTTON, p {
	margin:0; padding:0;
	font-size:100%;
	list-style:none;
}
body.loginBody { background:url(../img/bg.png); repeat-x 0 0}
.loginWrap {width:506px; margin:0 auto; padding-top:73px; min-height:538px;}
.loginWrap h1 {height:73px; padding-left:0px;}