@import "compass";
@import "partials/variables";

@media screen and (max-width: $bp-large) {
	#header {
		.header-content {
			width: 90%;
		}
	}
	.nav-toggle {
		display: block;
	}
	.navigation {
		position: fixed;
		background-color: #302624;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 99999;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
		transition: opacity 0.5s, visibility 0s 0.5s;
		.primary-nav {
			position: relative;
			top: 45%;
			@include transform(translateY(-45%));
		}
		li {
			display: block;
			margin-bottom: 20px;
		}
		a {
			display: block;
			font-size: 25px;
			margin: 0;
			text-align: center;
		}
	}
	.person {
		margin: 0 auto 50px;
		&-content {
			text-align: center;
		}
		.social-icons {
			li {
				display: inline-block;
				float: none;
				margin-bottom: 5px;
			}
		}
	}
	.testimonials {
		blockquote {
			padding: 20px 5% 0;
		}
		p {
			font-size: 26px;
		}
	}
	.flex-control-nav {
		bottom: 20px;
	}

	.hbox {
		display: flex;
	}

	.hbox-topic {
		display: flex;
	}

	.s0 {
		font-size: 70px;
	}
	.s1 {
		font-size: 50px;
	}

	.s2 {
		font-size: 36px;
	}

	.s3 {
		font-size: 36px;
	}

	.s4 {
		font-size : 24px;
	}

	.s4_2 {
		font-size : 22px;
	}

	.s5 {
		font-size : 20px;
	}

	.playstore {
		display: flex;
		margin-right: auto;
	}

	.playstore-topic{
		display: flex;
		margin-left: auto;
		margin-right: auto;
	}

	.hbox-topic {
		display: block;

		.box_text {
			text-align: center;
		}
		.box_img {
			width: 100%;
			display: flex;
			img {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.box-cont-text {
		margin-left: 20px;
		margin-right: 20px;
		text-align: center;
	}

	.mobile_reverse {
		display: flex;
		flex-direction: column-reverse;
	}

	.bg_yellow {
		padding-top: 0;
	}

	.bg_white {
		padding-top: 0;
	}

	.bg_black {
		padding-top: 0;
	}
}

@media screen and (max-width: $bp-medium-2) {

	.nav-toggle {
		top: 20px;
	}


	.banner-text {
		padding-top: 30%;
		h1 {
			font-size: 42px;
		}
		p {
			font-size: 18px;
		}
	}
	.flexslider {
		padding-bottom: 80px;
	}
	.flex-control-nav {
		width: 100%;
	}
	.footer {
		.footer-col {
			margin-bottom: 50px;
		}
	}

	.bg_yellow {
		padding-top: 0;
	}

	.bg_white {
		padding-top: 0;
	}

	.bg_black {
		padding-top: 0;
	}

}

@media screen and (max-width: $bp-medium) {
	.banner-text {
		padding-top: 35%;
	}

	.vanilla {
		position: relative;
		max-width: 100%;
		padding: 2em 1em 2em 1em ;
		cursor: default;
		background-color: rgba($black, 0.54);
		color: $white;
		text-align: center;
	}
}

@media screen and (max-width: $bp-small-3) {

	#header {
		.logo {
			@include float(left);
			width: 70px;
		}

		.nav-toggle {
			top: 12px;
		}
	}

	#header.fixed {
		background-color: #302624;
		.header-content {
			border-bottom: 0;
			padding: 10px 0;
		}
		.nav-toggle {
			top: 10px;
		}
	}

	.navigation {
		margin-top: 0.5em;
	}

	.s0 {
		font-size: 60px;
	}
	.s1 {
		font-size: 50px;
	}

	.s2 {
		font-size: 40px;
	}

	.s3 {
		font-size: 34px;
	}

	.s4 {
		font-size : 22px;
	}

	.s4_2 {
		font-size : 18px;
	}

	.s5 {
		font-size : 16px;
	}

	.bg_pattern {
		padding-top: 0;
	}

	.bg_yellow {
		@extend .bg_pattern;
	}

	.bg_white {
		@extend .bg_pattern;
	}

	.bg_black {
		@extend .bg_pattern;
	}

	.hbox {
		display: block;
		.box_img {
			width: 100%;
			display: flex;
			img {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.hbox-topic {
		display: block;

		.box_text {
			text-align: center;
		}
		.box_img {
			width: 100%;
			display: flex;
			img {
				margin-top: 20px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	.box-cont-text {
		margin-left: 20px;
		margin-right: 20px;
		text-align: center;
	}

	.playstore {
		width: 230px;
		height: 60px;
		display: flex;
		padding-left: 10px;
		margin-right: auto;
		div {
			line-height: 60px;
		}
	}

	.playstore-topic{
		width: 230px;
		height: 60px;
		display: flex;
		padding-left: 10px;
		margin-left: auto;
		margin-right: auto;
		div {
			line-height: 60px;
		}
	}

	.topic-padding-left {
		padding-left: 0;
	}

	.contact {
		text-align: center;
		&-top {
			padding-top: 50px;
		}
	}

	.contact-cont-text {
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.mobile_reverse {
		display: flex;
		flex-direction: column-reverse;
	}

	.logo-small {
		display: none;
	}

	.topic {
		.container {
			padding-top: 0;
		}
	}


}

@media screen and (max-width: $bp-small-2) {
	.banner-text {
		padding-top: 45%;
		h1 {
			font-size: 32px;
		}
	}

	.s0 {
		font-size: 50px;
		line-height: 110%;
	}
	.s1 {
		font-size: 44px;
	}

	.s2 {
		font-size: 38px;
	}
}

@media screen and (max-width: $bp-small) {
	.banner-text {
		padding-top: 55%;
	}
	.testimonials {
		blockquote {
			padding: 20px 5% 0;
		}
		p {
			font-size: 26px;
		}
	}
}